<a href="https://colab.research.google.com/github/SrivaniPuvvada/Python-lab/blob/main/19A21A05B6_python_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name : P.B.N.Srivani 

Regdno: 19A21A05B6

Section: CSE-B

Exercise -1

a) Running instructions in interactive interpreter and a python script

In [ ]:
20+40

60

In [ ]:
p,q,r=10,56.3,"cse" 
r

'cse'

b) write a program to purposefully raise indentation error and correct it

In [ ]:
a=10
b=20
if a>b:
print("a is big") 
else:
print("b is big")

IndentationError: ignored

Identation syntax error, 
Correct code is

In [ ]:
a=10
b=20
if a>b:
  print("a is big") 
else: 
  print("b is big")

b is big

Exercise -2

Write a program to compute distance between two points taking input from user

In [ ]:
import math
x1=int(input("enter x1 value")) 
x2=int(input("enter x2 value"))
y1=int(input("enter y1 value"))
y2=int(input("enter y2 value")) 
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print("Distance between two points is :",d)

enter x1 value10
enter x2 value4
enter y1 value5
enter y2 value9
Distance between two points is : 7.211102550927978

 Exercise-3

a) write a program for checking whether given number is even or not

In [ ]:
x= int(input(" enter the value"))
if x%2==0:
  print("even number")
else:
  print("odd number")

 enter the value65
odd number

b) using for loop ,write a program that prints out the decimal equivalents of1/2,1/3,1/4,.....1/10

In [ ]:
for i in range(2,11): 
  d=1/i
  print("\n1/"+str(i)+"=",d)

1/2= 0.5

1/3= 0.3333333333333333

1/4= 0.25

1/5= 0.2

1/6= 0.16666666666666666

1/7= 0.14285714285714285

1/8= 0.125

1/9= 0.1111111111111111

1/10= 0.1

c)write a program using for loop that loops over a sequence . What is sequence ?

Sequence : collection of items or group of items with some ordering

In [ ]:
n=[45,2,6,7,9,-34] 
for i in n: 
   print(i)

45
2
6
7
9
-34

d)write a program using a while loop that asks the user for a number , and prints a countdown from that number to zero

In [ ]:
x=int(input("enter a number")) 
while x>0: 
  print(x) 
  x-=1

enter a number5
5
4
3
2
1

 Exercise -4

a)find the sum of all the primes below two million

In [ ]:
 
n=int(input(" enter a limit "))
c=0
sum=0
for i in range(2,n):
    c=0
    for j in range(2,i):
        if i%j==0:
            c=1
            break
    if c==0:
        sum=sum+i
print(sum)

 enter a limit 10
17

 b)Each new term in the Fibonacci sequence is obtained by adding the previous two terms. By starting with 1 and 2, the first 10 terms are 1,2,3,5,8,13,21,34,55,89.
By consider the Fibonacci terms less than four million, find the sum of even valued terms.

In [ ]:
 
n=int(input(" enter an number"))
sum=0
fib1=1
fib2=2
for i in range(n):
    if fib1%2==0:
        sum=sum+fib1
    fib=fib1+fib2
    fib1=fib2
    fib2=fib
print("sum of even fibnoccai terms is",sum)

 enter an number10
sum of even fibnoccai terms is 44

Exercise -5

a)write a program to count the no of characters in a string and store them in a dictionary structure

In [ ]:
 
str=input("enter a string:")
dic={}
for ch in str:
    keys=dic.keys()
    if ch in keys:
        dic[ch]=dic[ch]+1
    else:
        dic[ch]=1
print("dictionary is ",dic)

enter a string:Srivani
dictionary is  {'S': 1, 'r': 1, 'i': 2, 'v': 1, 'a': 1, 'n': 1}

b) write a program to use split and join methods in a string and trace a birthday with a dictionary data structure .

In [ ]:
 
dob={"Srivani":"12-08-2002","Lakshmi":"24-10-2002","Hema":"16-05-2002"}
name=input("enter which person dob u want:")
l=name.split()
 
for i in l:
    if i in dob.keys():
        pers=i
 
print(" ".join([pers,"birthday is:",dob[pers]]))

enter which person dob u want:Srivani
Srivani birthday is: 12-08-2002

 Exercise -6

a) write a program combinelists that combines these lists into a dictionary

In [ ]:
 
state=["Karnataka","orissa","tamilnadu","kerala","westbengal","maharastra"]
capital=["Bangalore","bhuvaneswar","chennai","Thiruvananthapuram","Kolkata","mumbai"]
dic=dict(zip(state,capital))
print(dic)

{'Karnataka': 'Bangalore', 'orissa': 'bhuvaneswar', 'tamilnadu': 'chennai', 'kerala': 'Thiruvananthapuram', 'westbengal': 'Kolkata', 'maharastra': 'mumbai'}

b) write a program to count the frequency of characters in a given file . Can you use character frequency to tell whether the given file is python file , cfile ,text file

In [ ]:
 
filetypes=['.py','.c','.txt']
fn=input("enter a file name:")
f=open(fn,"r")
count=dict()
for  ft in filetypes:
     if(ft in  fn):
           if(ft==".py"):
             print("python file")
           elif(ft==".c"):
             print("cfile")
           elif(ft==".txt"):
             print("text file")
 
 
for line in f:
     for ch in line:
          if ch in count:
               count[ch]=count[ch]+1
 
          else:
              count[ch]=1
 
 
print(count)
f.close()

Exercise -7

 a) write a program to print each line of a file in reverse order

In [ ]:
 
fo=open("cse.txt","r")
if fo:
    st=fo.read()
    print("file content is:")
fo.close()
print()
lines=st.split('\n')
for ln in lines:
    i=len(ln)-1
    while(i>=0):
      print(ln[i],end='')
      i=i-1
    print()

 b) write a program to compute the no.of characters,words and files in a file

In [ ]:
 fo=open("cse.txt","r")
if fo:
    st=fo.read()
    print("file content is:")
fo.close()
print()
nc=nw=nl=0
for ch in st:
    if(ch):
        nc=nc+1
    if(ch==''):
        nw=nw+1
    if(ch=='\n'):
        nl=nl+1
 
print("number of characters in a file:",nc)
print("number of words in file is:",nw)
print("number of lines ins file:",nl)

 Exercise -8

a)Write a function ball collide that  takes two balls as parameters and compute if they are colliding. Your function should return Boolean representing whether or not the  two balls are colliding
If distance between two balls centres <= sum of their radii then they are collides

In [ ]:
 
import math
def ballcollide(tup1,tup2):
    [x1,y1,r1]=tup1
    [x2,y2,r2]=tup2
    d=math.sqrt((x2-x1)**2+(y2-y1)**2)
    if(d<=r1+r2):
      return True
    else:
        return False
 
 
ball1=(9,2,4)
ball2=(3,5,1)
c=ballcollide(ball1,ball2)
if(c):
    print("balls are collided")
else:
    print("ball are not collided")

ball are not collided

 b)find the mean,median,mode for the given set of numbers in the list

In [ ]:
def mean(numlist):
    return sum(numlist)/len(numlist)
def median(numlist):
    numlist.sort()
    print(numlist)
    n=len(numlist)
    print("total",n)
    mid=n//2
    print("mid:",mid)
    if(n%2==0):
        return numlist[mid]
    else:
        return (numlist[mid-1]+numlist[mid])/2
def mode(numlist):
    numlist.sort()
    temp=[]
    i=0
    while i<len(numlist):
        temp.append(numlist.count(numlist[i]))
        i+=1
    dic=dict(zip(numlist,temp))
    modes={k for k, v in dic.items() if(v==max(temp))}
    return modes
list=[1,1,2,2,3,4,5,3,3]
print("mean of given list:",mean(list))
print("median of given list:",median(list))
 
print("mode of given list:",mode(list))

mean of given list: 2.6666666666666665
[1, 1, 2, 2, 3, 3, 3, 4, 5]
total 9
mid: 4
median of given list: 2.5
mode of given list: {3}

 Exercise -9

 a) write a program to test whether two strings are nearly equal . Two strings a and b are nearly equal if a is generated by single mutation of b

In [ ]:
 def nearlyeq(str1,str2):
    count=0
    i=j=0
    ss=0
    while(i<len(str1)and j<len(str2)):
        if(str1[i]!=str2[j]):
            count+=1
        if(len(str1)>len(str2)):
            i+=1
 
        elif(len(str1)==len(str2)):
            pass
        else:
            i-=1     
        if(count>1):
             ss-=1
             
        i+=1
        j+=1
        if(count<2):
             ss+=1
 
    return ss
s1=input("enter a string 1:")
s2=input("enter the string2:")
t=nearlyeq(s1,s2)
if(t>1):
    print("nearly equal")
else:
    print("not nearly equal")

enter a string 1:Vani
enter the string2:Rani
nearly equal

b)write a function dup to find all duplicate s in the list.

In [ ]:
 def dup(list):
  list1=[]
  for i in list:
    count=list.count(i)
    if(count>1 and (i not in list1)):
        list1.append(i)
        
  print("the dups in the list are:",list1)        
list2=[1,2,1,2]
 
dup(list2)

the dups in the list are: [1, 2]

C) write a function unique to find all the unique numbers in the list

In [ ]:
 def unique(list1):
  list2={}
 
  for i in list1:
    c=list1.count(i)
    if c==1:
      list2[i]=c
  print("the unique elements in the list are:",list2)
 
list=[10,122,10,53,45,6,53,88,9]
unique(list)

the unique elements in the list are: {122: 1, 45: 1, 6: 1, 88: 1, 9: 1}

Exercise-10

 a)write a function cumulative product to compute cumulative product of a list of numbers

In [ ]:
def cumpro(list1):
  pro=1
  temp=[]
  for i in list1:
    pro*=i
    temp.append(pro)
  return temp
list=[11,2,1,3,5]
print ("given list is",list)
print("cumulative product of given list is",cumpro(list))

given list is [11, 2, 1, 3, 5]
cumulative product of given list is [11, 22, 22, 66, 330]

b)Write a function reverse to reverse a list without using reverse function

In [ ]:
 def reverse_list(numlist):
    temp=list1[::-1]
    numlist=temp
    return temp
list1=[31,12,23,49]
print("given list is :",list1)
print("after reverse function:",reverse_list(list1))
print("after list is:",list1)

given list is : [31, 12, 23, 49]
after reverse function: [49, 23, 12, 31]
after list is: [31, 12, 23, 49]

C)Write a function to compute GCD,LCM of two numbers . Each function shouldn't exceed one line.

In [ ]:
 gcd=lambda a,b: a if b==0 else gcd(a,a%b)
lcm=lambda a,b: (a*b)/gcd(a,b)
 
x=8
y=40
print("gcd=",gcd(x,y))
print("lcm=",lcm(x,y))

gcd= 8
lcm= 40.0